.image_1 {
  background-image: url(../images/38.jpg);
}

.image_2 {
  background-image: url(../images/33.jpg);
}

.image_3 {
  background-image: url(../images/31.jpeg);
}

.image_4 {
  background-image: url(../images/20.jpeg);
}

.image_5 {
  background-image: url(../images/34.jpg);
}

.image_6 {
  background-image: url(../images/37.jpg);
}

.image_7 {
  background-image: url(../images/39.jpg);
}

.image_8 {
  background-image: url(../images/40.jpg);
}

.image_9 {
  background-image: url(../images/36.jpg);
}
